<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/rezervesana.css">
    <title>ZCars.lv</title>
</head>

<body>
    <div class="orange_rectangle_1">
        <div class="pārredzamība">
            <a href="./"><img src="static/img/Logo.png" id="logo"></a>
            <a href="./" id="nosaukums">ZCars Autonoma</a>
        </div>
        <div class="Labā_puse_1">
            <div class="meklēšanas_lodziņš">
                <img src="static/img/search.png" id="lupa">
                <input id="meklēt" type="text" placeholder="Meklēt">
            </div>
        </div>
    </div>

    <div class="rectangle">
        <ul>
            <li><a href="./">Sākums</a></li>
            <li><a href="./kontakti">Kontakti</a></li>
            <li><a href="./rezervesana">Rezervēšana</a></li>
            <li><a href="./parasta_zona">Parasta zona</a></li>
            <li><a href="./vip">VIP</a></li>
        </ul>
    </div>
</body>
</html>
