<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/vip.css">
    <title>ZCars.lv</title>
</head>

<body>
    <div id="orange_rectangle_5"></div>
    <h1>Zcars Autonoma</h1>
    <img src="static/img/Logo.png" id="photo_logo">
    <div id="peslēgšanateksts"></div>
    <a id="tekstspies">Pieslēgties kā administrators</a>

        <div id="car_card"></div>
            <img src="static/img/ford_mustang.png" id="Ford">
        <h2>Ford Mustang GT 5.0</h2>
            <a> Lasīt 
                vairāk</a>

        <div id="card_2"></div>
            <img src="static/img/Ferrari_Italia.png" id="Ferrari">
        <h3>Ferrari 458 Italia<h3>
            <b>Lasīt 
                vairāk</b>

        <div id="card_3"></div>
            <img src="static/img/Nissan_GTR.png" id="Nissan">
        <h4>Nissan GT-R</h4>
            <text>Lasīt 
                vairāk</text>


</body>
